.spinner{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #39CDCC;
    border-top: 5px solid #0e8181;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}