//global
$text-primary: #213F7D;
$text-secondary: #545F7D;

//background
$body-background: #E5E5E5;

// sidemenu
$side-menu-width: 283px;
$top-nav-height: 100px;
$side-nav-item-padding-left: 20px;

// breakpoints
@mixin breakpoint($point) {
    @if $point == xl {
        // 1200px
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $point == xl-only {
        // 1200px
        @media (max-width: 1200px) {
            @content;
        }
    } @else if $point == lg {
        // 1024px
        @media (min-width: 1024px) {
            @content;
        }
    } @else if $point == lg-only {
        // 1024px
        @media (max-width: 1024px) {
            @content;
        }
    } @else if $point == md {
        // 768px
        @media (min-width: 768px) {
            @content;
        }
    } @else if $point == md-only {
        // 768px
        @media (max-width: 768px) {
            @content;
        }
    } @else if $point == sm {
        // 600px
        @media (min-width: 600px) {
            @content;
        }
    } @else if $point == sm-only {
        @media (max-width: 600px) {
            @content;
        }
    }
}