.users-custom-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(223, 24, 255, 0.1);
    border-radius: 50%;

    & > div {
        width: fit-content;

        .woman {
            width: 14px;
            height: 14.5px;
            transform: translate(2.5px, 1px);
        }

        .man {
            width: 11.2px;
            height: 13.2px;
            transform: translate(-2.5px, -1px);
        }
    }
}

.three-users-custom-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(87, 24, 255, 0.1);
    border-radius: 50%;

    & > div {
        width: fit-content;

        & > img {
            width: 20px;
            height: 17.5px;
        }
    }
}

.with-loan-custom-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F55F44;
    background-color: rgba(245, 95, 68,0.1);
    border-radius: 50%;

    & > div {
        position: relative;

        & > svg:first-child {
            font-size: 24px;
        }

        & > svg:last-child {
            position: absolute;
            top: 40%;
            left: 40%;
        }
    }
}

.with-saving-custom-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF3366;
    background-color: rgba(255, 51, 102,0.1);
    border-radius: 50%;

    & > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .data{
            transform: translateX(5px);
        }

        .stack {
            transform: translateX(-5px);
            display: flex;
            flex-direction: column-reverse;

            & > svg:first-child {
                transform: translateY(-8px);
            }

            & > svg:last-child {

            }
        }
    }
}